// Colors
$color-main-accent: #060B35;
$color-secondary: #616070;
$color-accent: #00ACDC;
$color-white: #fff;
$color-border: #e0e0e0;

// Fonts
$font-main: 'Roboto', sans-serif;

// Card dimensions
$card-width: 200px;
$card-height: 408px;
$card-content-width: 166px;
