$color-main-accent: #060b35;
$color-secondary: #616070;
$color-accent: #00acdc;
$color-white: #fff;
$color-border: #f3f3f3;

// Fonts
$font-main: 'Roboto', sans-serif;

// Card dimensions
$card-width: 200px;
$card-height: 408px;
$card-content-width: 166px;
